Repository pagopa/pagopa-checkout-auth-service, pull requests merged in 2025-04, with the labels that each got.

#44 feat(deploy): [CHK-3986, CHK-3988] add JVM compilation capability
  .devops/deploy-pipelines.yml
  .env.example
  Dockerfile.jvm
  Dockerfile.native
  docker-compose.yml
  helm/Chart.lock
  helm/valuesOverrides/overrides-jvm-dev.yaml
  helm/valuesOverrides/overrides-jvm-prod.yaml
  helm/valuesOverrides/overrides-jvm-uat.yaml
Labels: minor, chart-minor, size/small

#46 [PIDM-454] fix: expanded prod rollback trigger conditions
  .devops/deploy-pipelines.yml
Labels: minor, chart-minor, size/small

#47 [CHK-4016] feat(semver): add new semver pipeline
  .devops/azure-templates/chart-current-version.yml
  .devops/azure-templates/gradle-github-release.yml
  .devops/deploy-pipelines.yml
  .github/workflows/deploy.yml
  .github/workflows/semver_release.yaml
Labels: size/large, major, chart-major

#49 trigger pipeline
  .devops/deploy-pipelines.yml
Labels: size/small, major, chart-major

#50 Chk 4016 trigger pipe
  .github/workflows/semver_release.yaml
  build.gradle.kts
  helm/Chart.yaml
  helm/values-dev.yaml
  helm/values-prod.yaml
  helm/values-uat.yaml
Labels: size/small, major, chart-major

#53 fix: skip semver update if skip release is true
  .github/workflows/semver_release.yaml
Labels: size/small, chart-patch, ignore-for-release

#54 Revert "Bump version [skip ci]"
  helm/Chart.yaml
  helm/values-dev.yaml
  helm/values-prod.yaml
  helm/values-uat.yaml
Labels: ignore-for-release, chart-major

#55 chore: trigger deploy pipeline
  .github/workflows/check_pr.yml
Labels: size/small, ignore-for-release, chart-major

#56 fix: version extraction shell script
  .github/workflows/semver_release.yaml
  helm/Chart.yaml
  helm/values-dev.yaml
  helm/values-prod.yaml
  helm/values-uat.yaml
Labels: chart-minor, size/small, ignore-for-release

#57 chore: trigger pipeline
  .github/actions/check-pr-semver-labels/action.yml
Labels: chart-minor, ignore-for-release
